<div class="container">
  <mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>About</mat-card-title>
    <img mat-card-lg-image src="assets/images/angular.png" >
  </mat-card-title-group>
  <mat-card-content class="content">
    <div>
      Este proyecto fue generado con Angular CLI version 13.2.0.
    </div>
    <div>
      Fecha de finalización del proyecto: 09/02/2021
    </div>
    <div>
      Si necesitas ayuda con Angular CLI, usa <i>ng help</i> o visita la página de <a target="__blank" href="https://angular.io/cli">Angular CLI</a>
    </div>
    <div>
      Si necesitas ayuda acerca del funcionamiento de este proyecto, consulta su <a target="__blank" href="https://github.com/aliciafdezrov/angular-app/blob/master/README.md">Documentación</a>
    </div>
  </mat-card-content>
  </mat-card>
</div>
