<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Miniapp Angular</span>
    <span class="example-spacer"></span>
    <label *ngIf="isPrivateMenuVisible()">{{getUserName()}}</label>
    <button *ngIf="isPrivateMenuVisible()" (click)="logout()" matTooltip="Logout from the app" mat-icon-button class="logout-icon" aria-label="Logout">
      <mat-icon>input</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div *ngIf="isPrivateMenuVisible(); else showThis">
  <app-menu></app-menu>
</div>
<ng-template #showThis>
  <app-public-menu></app-public-menu>
</ng-template>
