<div class="container">
  <app-photo-detail [selectedPhoto]="selectedPhoto" [width]="width" [height]="height"></app-photo-detail>
  <div class="button-list">
    <button mat-raised-button color="primary" [disabled]="selectedPhoto?.id === 1" (click)="previous()">Anterior</button>
    <button mat-raised-button color="primary" [disabled]="selectedPhoto?.id === 8" (click)="next()">Siguiente</button>
    <button mat-raised-button color="accent" (click)="increase()">Aumentar</button>
    <button mat-raised-button color="accent" (click)="decrease()">Disminuir</button>
    <button mat-raised-button *ngIf="isTimerDesactivated(); else elseBlock" color="warn" (click)="play()">Play</button>
    <ng-template #elseBlock>
      <button mat-raised-button color="warn" (click)="stop()">Stop</button>
    </ng-template>
  </div>
  <app-photos-list (selectEvent)="select($event)" [photos]="photos" [selectedPhoto]="selectedPhoto"></app-photos-list>
</div>
